.spacer {
  flex: 1 1 auto;
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
  span[routerLink] {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.content-container {
  min-height: calc(100vh - 64px);
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .main-header {
    span[routerLink] {
      font-size: 1rem;
    }
  }
}
